.master-container { /*classe que vai envolver todos os componentes*/
}

    .master-container ::deep .filter-container {
        /*É utilizado o deep para injetar o css dentro dos componentes mudblazor, sem isso, não vai funcionar*/
        background-color: palevioletred;
        padding: 0.5rem;
    }

    .master-container ::deep .filter-button-config {
        background-color: var(--cor-de-fundo,ghostwhite) !important;
        min-width: 10vh;
        border-radius: 15px;
        border: solid 1px black;
    }

    .master-container ::deep .filter-options {
        /*Classe que segura as opçÕes de sort*/
        margin-bottom: 2vh;
    }

    .master-container ::deep .save-button {
        background: #ffffff !important;
        background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(127, 131, 253, 1) 29%, rgba(0, 8, 252, 1) 100%) !important;
        /*Pensar em um nome melhor*/
    }

.mud-toggle-group-config {
    display: block !important; /*Sobreescreve uma configuração do Togglegroup para que os mudstack fizem um em baixo do outro*/
}
