.info-div {
    --margem-do-comprados-info: 1.2rem;
    display: flex;
}

    .info-div ::deep .comprados-mud-paper {
        width: 85vw;
        
        margin-bottom: var(--margem-do-comprados-info);
        margin-left: auto;
        margin-right: auto;
    }

    .info-div ::deep .comprados-info {
    }

.search-bar-div {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
}
    .search-bar-div ::deep .search-bar-config {
        /*Classe que vai conter a div que contem a barra de pesquisa e o ícone de filtro */
        min-width: 65vw;
        width: 65vw;
        max-width: 75vw;
        margin: auto;
        
    }

    .search-bar-div ::deep .sort-icon-config {
        margin: auto;
    }

.item-display-div{
    display:flex;
    flex-direction: column;
    width: 85vw;
    margin: auto;
    
}

.item-display-div ::deep .item{

}

.filter {
    /*Configuração do filtro ta dentro do arquivo FilterIcon.razor.css*/
}
