@page "/comprados"
@using UnnamedApp.Mobile.Components.NoRoute
@using UnnamedApp.Mobile.Components.Dialogue
@inject IDialogService DialogService
@inject DatabaseService Database;

<div class="info-div">
    <MudPaper Elevation="0" Class="comprados-mud-paper">
        <MudStack Justify="Justify.SpaceEvenly" Row="true" Class="comprados-info">
            <MudStack AlignItems="AlignItems.Center">
                <MudText Style="color:rgba(0,0,0,0.5)" Align="Align.Center">Gasto Total</MudText>
                <MudText Style="font-weight: bold" Align="Align.Center">R$ 0,00</MudText>
                <!--Linkar valores a lista filtrada-->
            </MudStack>
            <MudStack AlignItems="AlignItems.Center">
                <MudText Style="color:rgba(0,0,0,0.5)" Align="Align.Center">Itens Comprados</MudText>
                <MudText Style="font-weight: bold" Align="Align.Center">0</MudText>
                <!--Linkar valores a lista filtrada-->
            </MudStack>
        </MudStack>
    </MudPaper>
</div>

<div class="search-bar-div">
        <!--Reorganizar as divs dessa tela-->
    <div class="search-bar-config">
        <SearchBar />
    </div>
    <div class="sort-icon-config">
        <FilterIcon @onclick="OpenDialogAsync" />
    </div>
       
</div>

<div class="item-display-div">
    @foreach (Item x in GlobalList)
    {
        <!--Vai parar de aparecer itens na tela comprados por causa disso,
    estou preparando terreno para o [CascadingParameter]-->
        <ItemDisplay Item=x />
    }
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
    <ItemDisplay Item=NewItem />
</div>


@code {
    public Item? NewItem { get; set; }
    public List<Item?>? FilteredItems { get; set; }
    public List<Item> GlobalList { get; set; } = new();
    public bool isPopupOpen { get; set; } = false;



    protected override Task OnInitializedAsync()
    {
        NewItem = new();
        NewItem.Name = "Teste 1";
        NewItem.TotalPrice = 1000;
        NewItem.WhenItWasBought = DateOnly.FromDateTime(DateTime.Now);

        return base.OnInitializedAsync();
    }

    public async Task SwichPopupstatus()
    {
        isPopupOpen = !isPopupOpen;
        System.Diagnostics.Debug.Write(isPopupOpen);
    }
    public Task OpenDialogAsync()
    {
        var options = new DialogOptions() { CloseOnEscapeKey = true };
        return DialogService.ShowAsync<FilterDialog>(string.Empty, options);
    }

}

