#main-div{
    margin: 5px 10px 5px 10px;
}

.texto-ajustado{
    margin: 0px 20px 0px 20px;
}

.sum-of-wishes-card .mud-input-root {
    margin: 20px 0px 0px 0px;
}

.list-filter .mud-input-root {
    background-color: #ffffff;
}