.filter-container {
    display: grid;
    
    place-items: center;
    background-color: ghostwhite;
    border: 1px hidden;
    border-radius: 10px;
    height: 4vh;
    width:10vw;
    min-width: 5vw;
    
    
    /*Mesma altura máxima da barra de pesquisas*/
}
