.filter-container {
    background-color: ghostwhite;
    border: 1px hidden;
    border-radius: 10px;
    padding: 0.4rem;
    max-width: 10vw;
    max-height: 4vh; /*Mesma altura máxima da barra de pesquisas*/
}
