.popup-container {
    position: fixed;
    inset: 0; /* top/right/bottom/left: 0 */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    pointer-events:none;
}
.popup {
    
    pointer-events:all;
    background-color: ghostwhite;
    border-radius: 0.5rem;
    border: 1px none;
    text-align: center;
}
