@using UnnamedApp.SharedKernel

<div>
        @foreach (var item in listItem)
        {
            <h3>@item.Nome</h3>
            <h3>@item.Descricao</h3>
        <MudProgressLinear Indeterminate="true" Color="Color.Primary" />
        }
  
</div>

@code {

    public List<ListItem> listItem { get; set; }


    protected override void OnInitialized()
    {
        listItem = new List<ListItem>
        {
            new ListItem { Nome = "Item 1", Descricao = "Descrição do Item 1" },
            new ListItem { Nome = "Item 2", Descricao = "Descrição do Item 2" },
            new ListItem { Nome = "Item 3", Descricao = "Descrição do Item 3" }
        };
    }
   
}

